.benefits {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
    @media screen and (max-width: 1199px) {
        padding-bottom: 60px;
    }

    
&__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
        .benefits__item {
        width: 100%;
        
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
        }
        }
    
       /* .benefits__item:not(:last-child) {
            margin-right: 30px;
            }*/
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;

        @media screen and (min-width: 480px) {
            text-align: center;
        }
        
        @include font (14, 1.17, 700, 0.03em);
        text-transform: uppercase;
        color: var(--primary-text-color);
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
        
       @include font (14, 1.71, null, 0.03em);
        color: var(--text-color);
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        background-color: var(--white-background-color);
        border-radius: 4px;
        }
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}