.trade {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 94px;
    padding-top: 94px;

    @media screen and (max-width: 1199px) {
         display: none;
    }

    &__list {
        display: flex;
        }

        &__wrap {
            position: relative;
            height: 70px;
            width: 100%;
            top: -70px;
            
        }    

        &__text {
            position: absolute;
            
            left: 0;
            margin: 0;
            width: 100%;
            height: 70px;
            padding-top: 27px;
            background-color: rgba(47, 48, 58, 0.8);
        
            @include font (14, 1.14, 700, 0.03em);
            text-align: center;
            text-transform: uppercase;
        
            color: var(--original-white-color);
            
        }    
}



.trade__item:not(:last-child) {
    margin-right: 30px;
}
