
.logo {
    
    
    font-family: "raleway";
    @include font (24, 1.17, 700, 0.03em);
    color: var(--menu-button-color);
    @media screen and (min-width: 1200px) {
        @include font (26, 1.17, 700, 0.03em);
    }
}
.web {
    font-family: "raleway";
    @include font (24, 1.11, 700, 0.03em);
    @media screen and (min-width: 1200px) {
        @include font (26, 1.17, 700, 0.03em);
    }
    color: var(--accent-color);
}