.backdrop {
    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 350ms var(--timing-function), visibility 250ms var(--timing-function) ; 

    .is__hidden .modal {
        transform: translate(-50%, -50%) scale(0);
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 95.6vw;
    height: auto;
    padding: 40px;
    border-radius: 4px;
    background-color: var(--original-white-color);
    transform: translate(-50%, -50%) scale(1);
    transition: color 350ms var(--timing-function);

    @media screen and (min-width: 480px) {
       width: 460px;
       height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    &__closed {
        position: absolute;
        top: 8px;
        right: 8px;
        @include flex (flex, center);
        justify-content: center;
        
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
    }

    &__text {
        @include font (20, 1.17, 700, 3%);
         text-align: center;
         
         margin-top: 0;
         margin-bottom: 12px;
     } 
    
    &__field {
        margin-bottom: 10px;
        }
}


.modal__closed__icon:hover {
    fill: rgba(33, 150, 243, 1);
}

.is__hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}
.form {
    display: block;
    
}
.modal-form {
    
    @media screen and (min-width: 480px) {
        width: 460px;
        height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

::-webkit-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.textarea {
    &__text {
        width: 100%;
        resize: none;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px 16px;
    }

    
&__label {
    @include font (12, 1.17, null, 1%);
    color: rgba(117, 117, 117, 1);

    & span {
        display: block;
        margin-bottom: 4px;
    }
} 
}

.checkbox {
margin-top: 20px;
margin-bottom: 30px;
margin-left: 14px;


&__text {
    @include flex (flex, center);
    margin: 0;
    
    @include font (12, 1.17, null, 3%);
    font-size: 2.5vw;

    @media screen and (min-width: 480px) {
        @include font (12, 1.17, null, 3%);
    }
    @media screen and (min-width: 1200px) {
        @include font (12, 1.71, null, 3%);
    }
    color: rgba(117, 117, 117, 1);
   }
   
   &__icon {
       content: "";
       display:inline-block;
       width: 16px;
       height: 15px;
       margin-right: 7px;
   
       border: 2px solid #212121;
       border-radius: 2px;
   }

   &__input {
    appearance: none;
    position: absolute;

    &:checked +.checkbox__icon {
    background-color: rgba(33, 150, 243, 1);
    border-color: rgba(33, 150, 243, 1);
    background-image: url(../images/icon\ check.svg);
    background-size: contain;
    background-origin: border-box;
     
}
}
} 
.input__wrap {
    position: relative;
}

.modal__input {
    width: 100%;
    height: 40px;
    
    border:  1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-bottom: 11px;
    padding-top: 11px;
    outline: transparent;
    cursor: pointer;

    transition: border-color 250ms var(--timing-function);

    &:focus {
        border-color: rgba(33, 150, 243, 1);
        
        
        & + .modal__input__icon {
            fill: rgba(33, 150, 243, 1);
        }
        }

        &__icon {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            
        }
}

.input__label {
    @include font (12, 1.17, null, 1%);
    color: rgba(117, 117, 117, 1);

    & span {
        display: block;
        margin-bottom: 4px;
    }
}

.modal__button {
    width: 200px;
    height: 50px;

    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
    border: 1px solid #2196F3;
    border-radius: 4px;
    padding: 10px 52px;

    @media screen and (min-width: 320px) {
        margin-left: 13vw;
    }

    @media screen and (min-width: 480px) {
        margin-left: 86px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 125px;
    }
    
    
    @include font (16, 1.86, 700, 0.06em);
    font-style: normal;
    color: var(--original-white-color);
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
    background-color:  rgba(24, 140, 232, 1);
}
}

.agree__link {
 margin: 0;
 padding-left: 5px;
 
 @include font (12, 1.17, null, 3%);
 font-size: 2.5vw;

 @media screen and (min-width: 480px) {
     @include font (12, 1.17, null, 3%);
 }
 @media screen and (min-width: 1200px) {
     @include font (12, 1.71, null, 3%);
 }
 color: rgba(33, 150, 243, 1);
 text-decoration: underline;
}