.title {
    margin-top: 0;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        @include font (36, 1.17, 700, 0.03em);
    }
    
    @include font (28, 1.17, 700, 0.03em);
    text-align: center;
    color: var(--primary-text-color);
}